*~
__pycache__/
build/
doc/
test/.coverage
test/htmlcov/
test/gpmjcore.py
test/gpmjgame.py
test/gpmjplayer.py
test/gpmjctrl.py
test/gpmj.cfg
app/cui_app/gpmjcore.py
app/cui_app/gpmjgame.py
app/cui_app/gpmjplayer.py
app/cui_app/gpmjctrl.py
app/cui_app/gpmj.cfg
app/gui_app/gpmjcore.py
app/gui_app/gpmjgame.py
app/gui_app/gpmjplayer.py
app/gui_app/gpmjctrl.py
app/gui_app/gpmj.cfg
app/gui_app/tiles/

tags
files.txt

*.asta
*.odp
*#

